@model Novena_Dsahboard.Models.Contact

@{
    ViewData["Title"] = "Details";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <ul>
            <li>Admin</li>
            <li>Tables</li>
        </ul>
        <!-- <a href="https://justboil.me/" onclick="alert('Coming soon'); return false" target="_blank" class="button blue">
          <span class="icon"><i class="mdi mdi-credit-card-outline"></i></span>
          <span>Premium Demo</span>
        </a> -->
    </div>
</section>

<section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
        <h1 class="title">
            Tables
        </h1>
    </div>
</section>

<section class="section main-section">
    <div class="notification blue">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
            <div>
                <span class="icon"><i class="mdi mdi-buffer"></i></span>
                <b>Price List </b>
            </div>
        </div>
    </div>
    <div class="card has-table">
        <header class="card-header">
            <button class="button small red --jb-modal" data-target="sample-modal" type="button">
                <a asp-action="New" asp-controller="Home">Add New</a>
            </button>

            @*<p class="card-header-title">
                    <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
                    Contact Form Details
                </p>
                <a href="#" class="card-header-icon">
                    <span class="icon"><i class="mdi mdi-reload"></i></span>
                </a>*@
        </header>
        <div class="card-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QueryTopic)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.YourMassage)
                        </th>

                    </tr>
                </thead>
                <tbody>

                    <tr>


                        <td>
                            @Html.DisplayFor(modelItem => Model.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.PhoneNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.QueryTopic)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.YourMassage)
                        </td>
                        
                        <td class="actions-cell">
                            <div class="buttons right nowrap">
                                <button class="button small blue --jb-modal" data-target="sample-modal-2" type="button">
                                    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
                                </button>
                                <button class="button small red --jb-modal" data-target="sample-modal" type="button">
                                    <a asp-action="Delete" asp-route-id="@Model.ID">Delete</a>
                                </button>

                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>

            <div class="table-pagination">
                <div class="flex items-center justify-between">
                    <div class="buttons">
                        <button type="button" class="button active">1</button>
                        <button type="button" class="button">2</button>
                        <button type="button" class="button">3</button>
                    </div>
                    <small>Page 1 of 3</small>
                </div>

            </div>
        </div>
    </div>
    <a asp-action="Index">Back to List</a>
</section>

@*<h2>Details</h2>

    <div>
        <h4>Contact</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNum)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.QueryTopic)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.QueryTopic)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.YourMassage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YourMassage)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
